@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #0F2D52;
  --accent: #FF0000;
  --background: #FFFFFF;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}